---
layout: default
permalink: /
title: App
text-align: center
---

  <div class="row align-items-center">
    <div class="col col-12 col-md-6 text-{{ page.text-align }}">
        <img class="d-block mx-auto mb-2" src="./assets/text_childstories.png" alt="" width="128">
        <h3>{{ site.title }}</h3>
        <p class="lead py-5">{{ site.description }}.</p>
            {% if site.google_play_id %}
            <a href='http://play.google.com/store/apps/details?id={{ site.google_play_id }}'>
              <img alt='Доступно в Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/ru_badge_web_generic.png' width="240"/></a>
            {% endif %}
            {% if site.galaxy_store_tag %}
            <a href='https://galaxy.store/{{ site.galaxy_store_tag }}'>
              <img alt='Доступно в Galaxy Store' src='./assets/GalaxyStore_Russian.png' width="240"/></a>
            {% endif %}
    </div>

    <img class="col col-12 col-md-6 mb-auto py-2" src="./assets/app_view_childstories.png" alt="" />

  </div>
